.wrap{
    display: flex;
}
.wrap>div{
    width: 50%;
    height: 350px;

}
.users-box{
    background-color: silver;
    padding-top: 20px;
}
.chosen-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: cornsilk;
    padding-left: 10px;
}