.movieCardLight {
    width: 300px;
    margin: 10px;
    background: powderblue;
    box-shadow: 5px 10px 20px black;
    overflow: hidden;
    transition: 300ms;
}

.movieCardDark {
    width: 300px;
    margin: 10px;
    background: #3B3386;
    box-shadow: 5px 10px 20px grey;
    overflow: hidden;
    transition: 300ms;
}

.movieCardLight img {
    height: 450px;
    width: 300px;
}

.movieCardDark img {
    height: 450px;
    width: 300px;
}

.titleLight {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.titleDark {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #E8E8E8;
}

.movieCardLight:hover {
    background: #2A2650;
    color: white;
    transition: 300ms ease-in-out;
}

.movieCardDark:hover {
    box-shadow: 1px 10px 20px orangered;
    background: #5F54BC;
    transition: 300ms ease-in-out;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0 10px 0;
}

.tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 3px;
    border-radius: 5px;
    width: 35px;
    text-align: center;
    background: grey;
}

.tag.orange {
    background: coral;
}

.tag.cornflowerblue {
    background: cornflowerblue;
}

.tag.grey {
    background: grey;
}

