.movieCard{
    width: 300px;
    margin: 10px;
    background: powderblue;
    box-shadow: 5px 10px 20px black;
    overflow: hidden;
    transition: 300ms;
}
.movieCard img{
    height: 450px;
    width: 300px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.movieCard:hover{
    box-shadow: 1px 10px 20px orangered;
    /*background: black;*/
    /*color: white;*/
    transition: 300ms ease-in-out;
}
.cardInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0 10px 0
;
}
.tag{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 3px;
    border-radius: 5px;
    width: 35px;
    text-align: center;
    background: grey;
}
.tag.orange {
    background: coral;
}
.tag.cornflowerblue {
    background: cornflowerblue;
}
.tag.grey {
    background: grey;
}

