.movieCard{
    width: 220px;
    margin: 20px;
    background: powderblue;
    box-shadow: 5px 10px 20px black;
    overflow: hidden;

}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.movieCard:hover{
    background: black;
    color: white;
    transition: 300ms;
}
.tag{
    background: black;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    width: 35px;
    text-align: center;
    margin-left: 5px;
}
.tag.green {
    color: green;
}
.tag.orange {
    color: orange;
}
.tag.red {
    color: red;
}
