* {
    margin: 0;
    box-sizing: border-box;
}

.user {
    display: flex;
    justify-content: center;
}

.user h3 {
    width: 50%;
    margin-top: 5px;
}
.user button {
    margin-top: 5px;
    height: 20px;
}

