.mainPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moviesListWrap{
    display: flex;
    justify-content: center;
}
.moviesList{
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
}

