* {
    margin: 0;
    box-sizing: border-box;
}

.button {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background: powderblue;
}

.button button {
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
}

.button button:hover {
    background: mediumpurple;
    color: black;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.users div {
    width: 250px;
    margin-left: 80px;
}

.users h3 {
    margin-top: 5px;
}