*{
    margin: 0;
    box-sizing: border-box;
}
.form {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background: powderblue;
}
.form button{
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
}

.form button:hover{
   background: mediumpurple;
    color: black;
}

.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users div {
    width: 250px;
    margin-left: 40px;
}
.users h3{
    margin-top: 5px;
}
