* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    padding-top: 120px;
    font-size: 40px;
}

.wrap {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.counter {
    width: 200px;
    height: 200px;
    border: black solid 2px;
    border-radius: 50%;
    text-align: center;
    background: powderblue;
}

.wrap h2 {
    font-size: 50px;
    margin-top: 50px;
}

.counter button:hover {
    background-color: black;
    color: white;
    transition: 250ms;
}
.counter button {
    width: 50px;
    margin: 20px 5px;
    background: white;
    border-radius: 10px;
    height: 25px;
    border: black solid 1px;
}

