.simpson {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simpson h2 {
    background-color: silver;
    text-align: center;
}

.subDiv {
    width: 50%;
}

p {
    text-align: justify;
}

.subDiv p {
    text-align: justify;
}

.imgDiv {
    display: flex;
    justify-content: center;
}